#home.container {
    .products a {
        text-decoration: none;
    }

    .product {
        &:hover {
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
        }

        .image {
            height: 192px;
        }

        .name {
            color: #337ab7;
        }
    }
}