#basket.container {
    .product {
        padding: 8px;

        .name, .price {
            height: 64px;
            line-height: 64px;
        }

        .quantity {
            padding-top: 15px;

            .input-group {
                width: 120px;
                margin: 0 auto;
            }

            input {
                text-align: center;
            }
        }
    }

    .alert {
        margin-bottom: 0px;
    }

    #total {
        height: 30px;
        line-height: 30px;
    }

    .image {
        height: 64px;
        width: 64px;
    }
}