<div id="basket" class="container">
    <div class="row">
        <!-- Alert the user if the basket is empty -->
        <div class="alert alert-info" role="alert" ng-if="!products.length">
            <strong>Your shopping basket is empty.</strong>
            You can add items to your basket by selecting one from <a ui-sref="home">here</a> and clicking 'Add To Basket'.
        </div>

        <div class="panel panel-default" ng-if="products.length">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <strong>Product</strong>
                    </div>
                    <div class="col-xs-4 text-center">
                        <strong>Price</strong>
                    </div>
                    <div class="col-xs-2 text-center">
                        <strong>Quantity</strong>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <!-- TODO: Convert the following into a directive? -->
                <li class="list-group-item product" ng-repeat="product in products">
                    <div class="row">
                        <div class="col-xs-6">
                            <a ui-sref="product({id: product.id})">
                                <span>{{product.name}}</span>
                                <div class="image image-background pull-left" style="background-image: url('{{product.imageURL}}')">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4 text-center">
                            £{{product.price}}
                        </div>
                        <div class="col-xs-2 text-center">
                            {{product.quantity}}
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel-footer clearfix">
                <strong id="total">Order Total: £40.31</strong>
                <button class="btn btn-sm btn-success pull-right">
                    Proceed To Checkout
                </button>
            </div>
        </div>
    </div>
</div>
</div>
