<div id="basket" class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <strong>Product</strong>
                    </div>
                    <div class="col-xs-3">
                        <strong>Price</strong>
                    </div>
                    <div class="col-xs-3">
                        <strong>Quantity</strong>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <!-- TODO: Convert the following into a directive? -->
                <li class="list-group-item product" ng-repeat="product in products">
                    <div class="row">
                        <div class="col-xs-6">
                            <span>{{product.name}}</span>
                            <div class="image image-background pull-left" style="background-image: url('{{product.imageURL}}')">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            £{{product.price}}
                        </div>
                        <div class="col-xs-3">
                            {{product.quantity}}
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-if="!products.length">
                    <div class="alert alert-info" role="alert">
                        <strong>Your shopping basket is empty.</strong>
                        You can add items to your basket by selecting one from <a ui-sref="home">here</a> and clicking 'Add To Basket'.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
