@import "./screens/home/style";
@import "./screens/product/style";
@import "./screens/basket/style";

body > .container {
    margin-top: 64px;
}

.navbar {
    .navbar-brand > strong {
        color: white;
    }

    #basket {
        .label {
            font-size: 14px;
        }

        .text {
            margin-right: 8px;
            font-size: 16px;
        }
    }
}

.navbar-brand > strong {
    color: white;
}

#basket {
    .label {
        font-size: 14px;
    }

    .text {
        margin-right: 8px;
        font-size: 16px;
    }
}

.image-background {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}